@{
    ViewBag.Title = "Ecommerce Application";
}

<div class="jumbotron">
    <a href="~/" class="btn btn-success btn-lg">Home</a>&nbsp<a id="cartNav" href="/Cart/CartDetail" class="btn btn-primary btn-lg">View Cart</a>
    <p>Click on any products below</p>
    <div class="row">

        @foreach (var result in Model)
        {
            <div class="col-md-4">
                <h2>@result.name</h2>
                <p><a href="@Url.Content(String.Format("~/Product/Detail/{0}", result.productId))"><img src="@Url.Content(String.Format("~/Content/{0}", result.path))" height="200" width="200" /></a></p>
                <p>$ @result.price</p>
                <p><button data-key="@Json.Encode(result)" class='btn btn-primary btn-lg'>Add To Cart</button></p>
            </div>
        }          
    </div>
</div>